@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.5s, color 0.5s;
  }
  
  .dark {
    --bg-color: #1a202c; 
    --text-color: #a0aec0; 
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }